<%- include('../public/header.html') %>
<%- include('../public/left-menu.html') %>
<div class="main">
    <div class="main-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <!-- 上传: enctype="multipart/form-data" -->
                    <form action="/admin/goodsCate/doadd?_csrf=<%=csrf%>" method="post" enctype="multipart/form-data">

                        <div class="form-group">
                            <label for="inputUser" class="col-sm-2 control-label">分类名称:</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="inputUser" placeholder="请输入分类名称"
                                    name="title">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputimg" class="col-sm-2 control-label">图像</label>
                            <div class="col-sm-10">
                                <input type="file" class="form-control" id="inputimg" placeholder="请输入图像"
                                    name="cate_img">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputPass" class="col-sm-2 control-label">排序:</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="inputPass" placeholder="请输入数字" name="sort">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-primary">添加</button>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>
</body>

</html>