<%- include('../public/header.html') %>
<%- include('../public/left-menu.html') %>


<div class="main">
    <div class="main-content">
        <div class="panel panel-default">
            <div class="panel-heading">
                <a href="/admin/role/add" class="btn btn-primary">增加角色</a>
            </div>
            <div class="panel-body">
                <!--
        列表展示
    -->
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr class="th">
                                <th>角色名称</th>
                                <th>描述</th>
                                <th>增加时间</th>
                                <th class="text-center">状态</th>

                                <th class="text-center">操作</th>
                            </tr>
                        </thead>
                        <tbody>

                            <%for(var i=0;i<list.length;i++){%>


                            <tr>
                                <td><%=list[i].title%></td>
                                <td><%=list[i].description%></td>
                                <td><%=helper.formatTime(list[i].add_time)%></td>

                                <td class="text-center">

                                    <%if(list[i].status==1){%>

                                    <img src="/public/images/yes.gif"
                                        onclick="app.toggle(this,'Role','status','<%=list[i]._id%>')" />


                                    <%}else{%>
                                    <img src="/public/images/no.gif"
                                        onclick="app.toggle(this,'Role','status','<%=list[i]._id%>')" />
                                    <%}%>

                                    </td>    
                                                        
                                    <td class="text-center"><a href="/admin/role/auth?id=<%=list[i]._id%>">授权</a>　<a
                                        href="/admin/role/edit?id=<%=list[i]._id%>">修改</a>　<a class="delete"
                                        href="/admin/del?collection=Role&_id=<%=list[i]._id%>">删除</a></td>
                            </tr>


                            <%}%>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
</div>
<!-- 后台ajax 特效 -->
<script type="text/javascript" src="/public/js/base.js"></script>
</body >
</html >