<%- include('../public/header.html') %>
<%- include('../public/left-menu.html') %>
<div class="main">
	<div class="main-content">
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-12">

					<table class="table table-bordered">
						<thead>
							<tr>
								<th class="text-center">用户编号</th>
								<th class="text-center">总价格</th>
								<th class="text-center">运费</th>
								<th class="text-center">优惠</th>
								<th class="text-center">订单号</th>
								<th class="text-center">收件人</th>
								<th class="text-center">电话</th>
								<th class="text-center">支付状态</th>
								<th class="text-center">支付类型</th>
								<th class="text-center">订单状态</th>
								<th class="text-center">订单创建时间</th>
							</tr>
						</thead>
						<tbody>
							<%for(var i=0;i<data.length;i++){%>
							<tr>
								<td>
									<%=data[i].uid%>
								</td>
								<td>
									<%=data[i].mallPrice%>元
								</td>
								<td>
									<%=data[i].freight%>元
								</td>
								<td>
									<%=data[i].discount%>元
								</td>
								<td>
									<%=data[i].order_id%>
								</td>
								<td>
									<%=data[i].name%>
								</td>
								<td>
									<%=data[i].tel%>
								</td>
								<td>
									<%if(data[i].pay_status==0){%>
									未支付
									<%}else{%>
									已支付
									<%}%>
							</td>
							<td>
								<%if(data[i].pay_type==1){%>
									支付宝支付
									<%}else{%>
									微信支付
									<%}%>
							</td>
							<td>
								<!-- // 0,待付款 1，待发货 2，待收货 3，评价 4，已完成 -->
								<%if(data[i].order_status==0){%>
									待支付
									<%}else if(data[i].order_status==1){%>
									<button onclick="changeOrderStatus(this,'<%=data[i]._id%>')">已付款->已发货</button>
									<%}else if(data[i].order_status==2){%>
									<button onclick="changeOrderStatus(this,'<%=data[i]._id%>')">待收货</button>
									<%}else if(data[i].order_status==4){%>
									已完成
									<%}else if(data[i].order_status==5){%>
									取消订单
									<%}%>
							</td>
							<td>
								<%=helper.formatTime(data[i].add_time,'YYYY-MM-DD HH:mm')%>
								</td>
							</tr>
							<%}%>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	</div>
	</div>
	<script>
		function changeOrderStatus(el, id) {

			$.get('/admin/orderchangeToFinished', { orderId: id }, function (data) {
				if (data.success) {
					if (el.innerHTML.indexOf('已付款->已发货') != -1) {
						el.innerHTML = '待收货';
						window.location.reload();
					} else {
						el.innerHTML = '已付款->已发货';
						window.location.reload();
					}
				}
			})
		}
	</script>
</body>

</html>