<%- include('./public/header.html') %>
<%- include('./public/left-menu.html') %>
<div class="main" id="main">
    <div class="main-content">
        <div class="container-fluid">
            <div class="row">
                    <h1>欢迎来到票务管理</h1>
                
            </div>
        </div>
    </div>
</div>
</div>
</body>
<style>
    html{
        background-image: url(../../public/images/show.jpg);
        background-repeat: no-repeat;
        background-size:100% 100%;
    }
    #main{
        background-image: url(../../public/images/show.jpg);
        background-repeat: no-repeat;
        background-size:100% 100%;
    }
    h1{
        text-align: center;
		line-height: 200px;
    }
</style>
</html>